@model List<CourseViewModel>
@{
    ViewData["Title"] = "Index";
}



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if (Model.Any())
                {
                    <h5 class="card-title">User info</h5>
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Picture</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Feature.Duration</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="alert-info alert">
                        Course not found    
                    </div>
                }
            </div>
        </div>
    </div>
</div>

