@model SigninInput
@{
    ViewData["Title"] = "Signin";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Member Login</h5>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <form asp-controller="Auth" asp-action="Signin" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" asp-for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" asp-for="IsRemember" id="exampleCheck1">
                        <label class="form-check-label" asp-for="IsRemember" for="exampleCheck1"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enter</button>
                </form>

                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

